body {
    background-color:lightblue ;
}

h1{
    color:cornflowerblue;
    background-color:aliceblue 
}

#show_sketch {
    float:right;
    margin-top: 1px;
    border: 5px lightcoral solid;
}

.clear:hover {
    color: red;
    background-color: yellow;
    cursor: pointer;
}

#score {
    float:right;
    margin-right: 20px;
}

#timer {
    float: left;
    margin-left: 20px;
}

canvas {
    border-radius: 50px;
  margin-top: 35px;
}